<footer class="page-footer hide-on-med-and-down transparent">
  <div class="row">
    <div class="col s6 offset-s6">
      <span class="right">
        <a class="col s4" href="http://www.facebook.com" target="_blank"><img src="/assets/images/SocialMediaIcons/facebook.png"></a>
        <a class="col s4" href="http://www.twitter.com" target="_blank"><img src="/assets/images/SocialMediaIcons/twitter.png"></a>
        <a class="col s4" href="http://www.instagram.com" target="_blank"><img src="/assets/images/SocialMediaIcons/instagram.png"></a>
      </span>
    </div>
  </div>
</footer>

<footer class="page-footer hide-on-med-and-up transparent">
  <div class="row">
    <div class="col s6 offset-s6">
      <span class="right">
        <a class="col s4" href="http://www.facebook.com" target="_blank"><img id="mobileImg" src="/assets/images/SocialMediaIcons/facebook.png"></a>
        <a class="col s4" href="http://www.twitter.com" target="_blank"><img id="mobileImg" src="/assets/images/SocialMediaIcons/twitter.png"></a>
        <a class="col s4" href="http://www.instagram.com" target="_blank"><img id="mobileImg" src="/assets/images/SocialMediaIcons/instagram.png"></a>
      </span>
    </div>
  </div>
</footer>
