#logo
  max-width: 35%
  height: auto
  width: auto\9

#phrase
  font-size: 30px
  font-size: 3.5vw

#logo-mobile
  max-width: 70%
  height: auto
  width: auto\9

#phrase-mobile
  font-size: 30px
  font-size: 6.5vw
