<figure id="container" class="hide-on-med-and-down white-text top center">
    <img id="logo" src="/assets/images/logos/SolidWhiteLogo.png" alt="">
    <figcaption id="phrase">
      Wine just got<br> less wanky.
    </figcaption>
    <a [routerLink]="['/quiz']">Take our wanky quiz.</a>
</figure>

<figure id="container" class="hide-on-med-and-up white-text top center">
    <img id="logo-mobile" src="/assets/images/logos/SolidWhiteLogo.png" alt="">
    <figcaption id="phrase-mobile">
      Wine just got<br> less wanky.
    </figcaption>
    <a [routerLink]="['/quiz']">Take our wanky quiz.</a>
</figure>
